name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build-and-release:
    name: Build and Release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, windows, darwin]
        goarch: [amd64, arm64]
        exclude:
          - goos: windows
            goarch: arm64

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"

      - name: Build Binary
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        run: |
          BINARY_NAME=container-diet
          if [ "$GOOS" = "windows" ]; then
            BINARY_NAME+=".exe"
          fi

          echo "Building for $GOOS/$GOARCH..."
          go build -ldflags "-X github.com/k1lgor/container-diet/internal/cli.version=${{ github.ref_name }}" -o dist/$BINARY_NAME-$GOOS-$GOARCH cmd/cli/main.go

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: container-diet-${{ matrix.goos }}-${{ matrix.goarch }}
          path: dist/*

  create-release:
    needs: build-and-release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Build Changelog
        id: build_changelog
        uses: mikepenz/release-changelog-builder-action@v5
        with:
          configuration: ".github/changelog_config.json"
          commitMode: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: artifacts/**/*
          body: ${{ steps.build_changelog.outputs.changelog }}
